.loginsignup{
    width: 100%;
    height: 86vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginsignup-container{
    width: 580px;
    height:600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.loginsignup-login{
    display: flex;
    justify-content: space-between;
    padding: 0 2vh;
}


.loginsignup-login span{
    color: red;
}

.loginsignup-login p{
    justify-self:space-between;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input{
    height:72px;
    width: 96%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor:pointer;
}

.loginsignup-agree{
    display: flex;
    gap: 20px;
}

@media (max-width:1280px) {
    .loginsignup{
        padding-top: 50px;
    }

    .loginsignup-container{
        width: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .loginsignup-container h1{
        margin: 10px 0px;
    }

    .loginsignup-fields{
        gap: 20px;
    }
    
    .loginsignup-fields input{
        height: 65px;
        width: 93%;
    }

    .loginsignup-container button{
        width: 100%;
    }

    .loginsignup-login{
        font-size: 16px;
    }

    .loginsignup-agree{
        font-size: 14px;
    }
}

@media (max-width:800px) {
    /* .loginsignup{
        padding-top: 50px;
    } */

    .loginsignup-container{
        padding: 20px 30px;
    }
    .loginsignup-container h1{
        font-size: 24px;
    }

    .loginsignup-fields{
        margin-top: 20px;
    }
    
    .loginsignup-fields input{
        height: 50px;
    }

    .loginsignup-container button{
        height: 50px;
        font-size: 16px;
    }

}




/* ____________________ */


body {
    background-color: #f8f9fa;
  }
  .registration-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }
  .registration-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    align-content: center;
  }
  .registration-image {
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    min-height: 80vh;
  }
  .registration-form h2 {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }

  .form-group{
    padding-bottom: 2vh;
  }
  
  .form-group label{
    padding-bottom: 2vh;
  }
  @media (max-width: 768px) {
    .registration-container {
      flex-direction: column;
    }
    .registration-form {
      margin-top: 20px;
      border-radius: 0;
      box-shadow: none;
    }
    .registration-image {
      border-radius: 0;
      min-height: auto;
    }
  }